<!-- templates/about/author.html -->

{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div align="center">
  <h1>Был бы у меня такой кот,<br>
  я б может и не женился бы никогда.</h1>
  <h4>
    <cite>© отец дяди Фёдора<br>
  (Каникулы в Простоквашино)
    </cite>
  </h4>
  <img src="{% static 'img/MarySmitt.jpg' %}" height="400px" alt="Автор проекта - MarySmitt" >
  <img src="{% static 'img/SindbadSeaCats.jpg' %}" height="400px" alt="Идейный вдохновитель проекта - SindbadSeaCat" >
  <p>
    <h4>
      Под яркими розовыми страницами этого сайта, за удобным интерфейсом<br>
      и возможно даже интерсным содержанием, остались минуты,<br>
      часы, дни, месяцы работы над непонятным кодом.<br>
      Будучи одиноким воином, в этой нелегкой борьбе за<br>
      новую профессию, рядом со мной всегда был мой верный друг <br>
      Синдбад - морекот. Вместе, мы прошли этот долгий путь страданий, <br>
      самобичевания, отчаянья, смирения, и упорства. И вот наша первая <br>
      победа - портал SleepDream. <br>
      <br>
      А теперь мы идём отсыпаться, <br>
      за все бессонные ночи. <br>
    </h4>   
      <br>
      Данный проект создан в рамках обучения на платформе <br>
      <a href="https://practicum.yandex.ru/">Яндекс.Практикум</a> по направлению Python-разработчик.
  </p>
</div>
{% endblock %}